.filled{
    color: rgb(201, 105, 121)
}

.posts-tile{
    display: grid;
    grid-template-rows: .5fr 1fr .2fr;
    grid-template-areas:
        "title"
        "body"
        "buttons";
    text-align: center;
    margin: 10px 0 20px 0;
}

.posts-tile>h2{
    grid-area: title;
    text-align: center;
}

.posts-tile>p{
    grid-area: body;
    height: 70px;
    font-size: larger;
    padding: 10px;
}

.posts-tile-buttons>p{
    height: 70px;
    font-size: 20px;
    font-weight: 700;
    align-self: baseline;
    background-color: #812d2d00;
}

.posts-tile-buttons{
    display: grid;
    grid-template-columns: .2fr .1fr 1fr;
    grid-template-areas:
        "like . view";
    background-image: url('../../images/Post-Tile.png');
    background-color: #812d2d00;
}

.posts-tile-buttons>.post-like{
    grid-area: like;
    font-size: larger;
}

.posts-tile-buttons>.post-view{
    grid-area: view;
    font-size: 25px;
    margin-right: 100px;
}

.posts-tile-buttons>.post-like, .posts-tile-buttons>.post-view{
    width: 75px;
    justify-self: right;
    align-self: baseline;
    height: 30px;
}

.post-details{
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-template-areas:
        "title  info";
    margin: 10px;
    grid-area: header;
}

.post-details>h1{
    grid-area: title;
    font-size: 50px;
    border-bottom: solid black 5px;
}

.post-author-info{
    grid-area: info;
    display: grid;
    grid-template-columns: 1fr .2fr;
    grid-template-areas:
        "info avatar";
}

.post-author-info>img{
    grid-area: avatar;
    /* margin: 10px 0 10px 0 */
    padding-left:15px;
}
.post-author-info>div{
    grid-area: info;
    display: grid;
    justify-content: right;
    text-align: right;
}

.post{
    display: grid;
    grid-template-rows: .2fr .3fr .5fr 2fr;
    grid-template-areas:
        "header"
        "body"
        "input"
        "comment";
}

.post-body{
    grid-area: body;
    display: grid;
    grid-template-rows: 1fr .2fr;
    grid-template-areas:
        "body"
        "buttons";
}

.post-body>span{
    grid-area: body;
    font-size: 40px;
    background-color: rgba(222, 184, 135, 0);
    padding: 10px;
}

.post-details-like{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "likes edit";
    padding-top: 25px;
}

.post-likes-info{
    grid-area: likes;
    font-size: 20px;
    display: flex;
}

.post-likes-info>p{
    align-self: center;
}

.post-edit{
    grid-area: edit;
    display: flex;
    justify-content: right;
}

.post-edit>button, .post-likes-info>button{
    margin:10px;
    font-size: large
}

.post-comment-box{
    grid-area: input;
    margin: 10px;
}
.post-comment-box>form #comment-input{
    width: 98%;
    height: 300px;
    margin-bottom: 10px;
    padding: 10px;
}

.post-comment-box>form button{
    width: 100px;
    height: 30px;
    align-content: right;
    font-size: larger;
}

.post-comments{
    grid-area: comment;
    display: grid;
    grid-template-rows: repeat(auto, .5fr);
}

.post-comments>ul{
    list-style: none;
    padding: 0;
}

.post-comment-header{
    border-top: 10px #812d2d dotted;
    border-bottom: 10px #812d2d dotted;
    font-size: 25px;
    letter-spacing: 2px;
    padding:15px 0 15px 0;
    margin:5px;
}

.post-comment-tile{
    display: grid;
    grid-template-columns: .1fr 1fr .2fr;
    grid-template-areas:
        "avatar comment likes";
    align-items: center;
    padding: 5px;
    font-size: larger;
    margin: 5px;
    background-color: rgba(128, 128, 128, 0.499);
    background-image: url("../../images/Comment-Tile.png");
    border-radius: 32px;
}

.post-comment-tile>*{
    background-color: rgba(128, 128, 128, 0);
}

.comment{
    padding-left: 15px;
}

.comment>*{
    background-color: rgba(128, 128, 128, 0);
}

.comment-likes{
    display: flex;
    justify-content: right;
    padding: 15px;
}

.comment-likes>*{
    margin: 5px;
}

.comment-likes>p{
    text-align: center;
    background-color: rgba(128, 128, 128, 0);
}

.comment-likes>button{
    font-size: 15px;
}

.comment-img>img{
    background-color: rgba(128, 128, 128, 0);
}

.like-text{
    font-size: xx-large;
}

.line{
    margin: 0;
}