#translator-modal-button>button{
    border-radius: 60%;
    background-color: rgba(0, 255, 238, 0.327);
    font-size: xx-large;
}

#translator-modal-button>button:hover{
    background-color: rgba(0, 128, 128, 0.734);
}

#translator-modal-button{
    background-color: rgba(255, 255, 255, 0);
    position: sticky;
    display: flex;
    justify-self: right;
    bottom: 5px;
    padding: 10px;
}

/* #modal .tranlator-container {
    border: solid 2px black;
    border-radius: 10px 10px 0px 0px;
    width: 500px;
    height: 300px;
} */

.tranlator-container{
    /* padding: 10px; */
    border: solid 10px black;
    border-radius: 15px;
    width: 500px;
    height: fit-content;
    /* padding: 2px; */
    border-style: inset;
}

.tranlator-container>h1 {
    border: solid 3px black;
    text-align: center;
    background-color: #812d2d;
    border-bottom: solid black 5px;
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
}

.tranlator-container span{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    text-decoration: underline;
    text-decoration-color: black;
    letter-spacing: 2px;
    text-underline-offset: 10px;
}

#translator-input-field{
    width: 410px;
    height: 75px;
    background-color: white;
    margin-right: 0;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.translator-form{
    display: grid;
    grid-template-columns: .5fr 2fr;
    grid-template-areas:
        "lang"
        "input";
}

.translator-input-box{
    grid-area: input;
    display: flex;
    width: 100px;
}

.translator-input-buttons{
    grid-area: lang;
    margin: 10px 0  0 5px;
}

.translator-input-buttons .language-select{
    background-color: white;
}

.line{
    background-color: black;
    height: 3px;
    width: 100%;
    margin: 15px 0 10px 0;
    display: flex;
    justify-self: left;
}

.translator-output>p{
    font-size: 25px;
    margin-left: 5px;
    height: 100px;
    padding-top: 10px;
}

.translator-input-box>button{
    padding: 5px;
    height: 80px;
    align-self: center;
    font-size: large;
}

.translator-input-box>button:hover{
    background-color: #812d2d;
    font-weight: 300;
    color: white
}
