.footer-container{
    display: flex;
    position: absolute;
    bottom: 1;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: #812d2d;
    border-top: solid black 5px;
    height: 50px;
}

.footer-container>button{
    background-color: #812d2d;
    color: white;
    border: grey;
}