/* TODO: Add sitewide styles */
*{
    margin: 0;
    background-color: #F1F1D7;
}

a {
    text-decoration: none ;

  }

.list>ul{
    list-style: none;
    padding: 0;
}

.page-title{
    text-align: center;
    font-size: 50px;
    margin: 5px;
}

#modal{
    /* border-radius: 100%; */
    background-color: #6f683fa9;
    /* padding: 15px; */
}

#title-anchor{
    height: 90px;
    align-self: baseline;

}

.header-container{
    display: flex;
    justify-content: center;
}

select, input, button{
    border-radius: 8px;
}