.profile-dropdown {
  position: absolute;
  right: 30px;
  margin: 0px;
  padding: 0px;
  top: 80px;
  border: solid gray;
  border-radius: 8px;
  background-color: white;
  width: 200px;
  list-style: none;
}

.profile-dropdown li {
  padding: 10px 8px;
}

.modal-item, .profile-menu-button {
  cursor: pointer;
}


.profile-dropdown li#item {
  border-bottom: solid lightgray;
}

.login {
  border-bottom: 0;
}

.profile-dropdown li#user-info {
  border-bottom: 0;
  padding-bottom: 0;
}



.profile-dropdown button {
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #6b8f71; /* Sage green */
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 15px;
}

.profile-dropdown button:hover {
  background-color: #557b5d; /* Darker sage green */
}


.nav-contents {
  display: flex;
  justify-content: space-between;
  margin: none;
  padding: 0px 20px;
  height: 40px;
  display: flex;
  align-items: center;
  list-style: none;
}

.profile-button-create-group {
  display: flex;
  column-gap: 12px;
  align-items: center;
}

.profile-menu-button {
  display: flex;
  column-gap: 8px;
  align-items: center;
  border: gray 1px;
  height: 32px;
  width: 70px;
  justify-content: center;
  border-radius: 24px;
}

.profile-menu-button:hover {
  cursor: pointer;
}

.user-icon, .menu-icon {
  font-size: 24px;
}

.nav {
  border-bottom: lightgray 1px solid;
}

.dropdown-li#home-icon a {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.kiki-icon-container {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
